/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

.content table {
    margin: 1em 0;
}

.content table td, .content table th {
    border: 1px solid #dddddd;
    padding: 0.25em;
    vertical-align: top;
    text-align: left;
}

figure {
    margin: 8pt auto;
    width: 80%;
}

figure.full {
    width: 100% !important;
}

figure img {
    display: block;
    margin: 0 auto;
}

figcaption {
    margin-top: 4pt;
    font-style: italic;
}

figcaption em {
    font-style: normal;
}

figure.full figcaption {
    margin: 0 10%;
}

figure .double {
    margin: 0 1%;
    float: left;
    width: 48%;
}

figure + p {
    clear: left;
}

/* p + small, p + p > small:first-child, .remark { */
/*     display: block; */
/*     font-size: smaller; */
/*     margin-left: 2%; */
/*     margin-right: 2%; */
/* } */

.related {
    margin: 3em 2em;
    padding: 1.5em;
    border-radius: 0.8em;
    background: #a6daf3;
}

.verse {
    margin: 0 10%;
}

.verse p {
    white-space: pre;
}

.code pre {
    font-size: smaller;
}

#recent .tagline:before {
    content: "— ";
}

#recent ul {
    list-style-type: none;
}

#recent li {
    padding: 0 0 1.5em 0;
}

/* #recent .title:before { */
/*     content: "✱ "; */
/*     color: #f84040; */
/* } */

#recent a {
    font-weight: bold;
}

#recent .date {
    color: #888;
    font-size: 80%;
}

#recent .excerpt {
    color: #666;
    font-size: 90%;
    margin-top: 0.5em;
}

#recent .excerpt a.text {
    color: inherit;
    font-weight: normal;
    margin-top: 1em;
}

#recent .excerpt a.text:hover {
    color: inherit;
    font-weight: normal;
    text-decoration: none !important;
}

.twitter-tweet {
    margin-top: 2em !important;
    margin-bottom: 2em !important;
}

.slug .title {
    font-size: 120%;
}


#mail-signup {
    font-size: smaller;
}

#mail-signup .email {
    width: 40%;
}
